body,html
{
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	font-family: 'Raleway', sans-serif;
	color: black;
	margin: 0;
	padding: 0;
}

#portfolio
{
	width: 100%;
	height: auto;
	position: relative;
}

#portfolio.active
{
	background-color: black;
	color: white;
}

#portfolio.active #toggle-day
{
	background-color: black;
	box-shadow: none;
}

#portfolio.active #toggle-night
{
	background-color: crimson;
	box-shadow: none;
}

#portfolio.active #toggle-content
{
	box-shadow: none;
}
/*Header*/
#header span
{
	padding: 10px;
	box-shadow: 1px 1px 40px #ccc;
	border-radius: 5px;
	position: fixed;
}

#header #toggle-content
{
	left: 2em;
	top: 2em;
	z-index: 111;
	transition: 0.5s;
}
#header #toggle-content:hover
{
	cursor: pointer;
	background-color: crimson;
	color: white;
}

#header #toggle-day
{
	right: 4.2em;
	top: 2em;
	background-color: crimson;
	color: white;
	border-radius: 5px 0 0 5px; 
	z-index: 111;
}

#header #toggle-night
{
	right: 2em;
	top: 2em;
	border-radius: 0 5px 5px 0;
	z-index: 111;
}

#header #toggle-night, #toggle-day
{
	cursor: pointer;
}

/*Left nav bar*/
#left-nav-bar
{
	position: fixed;
	top: 10em;
	left: 0;
	opacity: 0;
}

#left-nav-bar.active
{
	opacity: 1;
}

#left-nav-bar ul
{
	padding: 0;
}

#left-nav-bar ul li
{
	list-style-type: none;
	padding: 1em;
	border-bottom: 1px solid lightgrey;
	width: 10em;
	color: crimson;
}

#left-nav-bar ul li:hover
{
	background-color: crimson;
	color: white;
}
/*Content*/
#content
{
	position: relative;
	top: 0;
	left: 0;
	box-shadow: 1px 1px 40px lightgrey;
	transition: 0.3s;
}

#content.active
{
	top: 6em;
	left: 12em;
}

/*Content- person-info*/
#content #person-info
{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#person-info #person-image img
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 2em;
}

#person-info #person-name h1
{
	font-size: 5em;
	font-weight: 100;
}

#person-info #slide-down
{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 5em;
	border-radius: 50%;
}

#person-info #slide-down i
{
	position: relative;
	top: 0;
	font-weight: bold;
	padding-bottom: 5em;
	font-size: 2em;
	animation: bounce 1s infinite alternate-reverse;
}

#person-info #slide-down:hover
{
	box-shadow: 1px 1px 10px lightgrey;
	cursor: pointer;
}

@keyframes bounce
{
	from{top:0px;}
	to{top: 50%;}
}

#person-info #person-objective p
{
	font-size: 1.5em;
	margin-bottom: 5em;
}

/*Content- person-info-container*/

.person-info-container
{
	width: 80%;
	height: auto;
	margin: 0 auto;
	background-color: white;
	position: relative;
	box-shadow: 1px 1px 10px lightgrey;
	padding: 1em;
	border-bottom: 1px solid crimson;
	margin-bottom: 5em;
}

.person-info-container:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.person-info-container .person-info-title
{
	width: 20%;
	height: 100%;
	float: left;
}

.person-info-container .person-info-list
{
	float: left;
	width: 80%;
	margin-top: 1em;
}

.person-info-container .person-info-details
{
	box-shadow: 1px 1px 10px lightgrey;
	padding: 10px;
	margin-top: 1em;
}

/*Footer*/
#footer
{
	width: 100%;
	position: relative;
	background-color: black;
	text-align: center;
	padding: 2em;
	color: grey;
}
#footer a
{
	text-decoration: none;
	font-size: 2em;
	color: white;
}
#footer a:hover
{
	text-decoration: underline;
}