* {
    box-sizing: border-box;
    margin: 0;
    letter-spacing: 1px;
}

body,html
{
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	font-family: 'Raleway', sans-serif;
	color: #434343;
	margin: 0;
	padding: 0;
}


a {
	text-decoration: none;
	color: white;
	margin: 0 0.5em;
	display: inline-block;
}

#portfolio
{
	position: relative;
	top: 0;
	bottom: 0;
	transition: 0.3s;
	overflow: hidden;
}

#portfolio.active
{
	background-color: #111111;
	color: #dddddd;
}

#portfolio.active #header span {
	box-shadow:  0 0 2em #000
}

#portfolio.active #toggle-day
{
	background-color: black;
}

#portfolio.active #toggle-night
{
	background-color: crimson;
}

#portfolio.active #toggle-content
{
	background: #000;
}
/*Header*/
#header span
{
	padding: .5em 1em;
	box-shadow: 1px 1px 40px #ccc;
	border-radius: 5px;
	position: fixed;
}

#header #toggle-content
{
	left: 2em;
	top: 2em;
	z-index: 111;
	transition: 0.5s;
}
#header #toggle-content:hover
{
	cursor: pointer;
	background-color: crimson;
	color: white;
}

#header #toggle-day
{
	right: 4.9em;
	top: 2em;
	background-color: crimson;
	color: white;
	border-radius: 5px 0 0 5px;
	z-index: 111;
}

#header #toggle-night
{
	right: 2em;
	top: 2em;
	border-radius: 0 5px 5px 0;
	z-index: 111;
}

#header #toggle-night, #toggle-day
{
	cursor: pointer;
}

/*Left nav bar*/
#left-nav-bar
{
	position: fixed;
	top: 10em;
	left: 0;
	bottom: 0;
	/*opacity: 0;*/
	width: 13em;
	overflow: auto;
	z-index: 1;
}

#left-nav-bar.active
{
	opacity: 1;
}


#left-nav-bar ul
{
	padding: 0;
}

#left-nav-bar ul li
{
	list-style-type: none;
	padding: 1em;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	/* width: 10em; */
	color: crimson;
	cursor: pointer;
}

#left-nav-bar ul li:hover
{
	background-color: crimson;
	color: white;
}

#portfolio.active #left-nav-bar ul li
{
	border-bottom: 1px solid black;
}

#portfolio.active #content {
	background: #111;
	box-shadow: 0 0 3em rgba(0,0,0,1);
}

/*Content*/
#content
{
	position: relative;
	top: 0;
	left: 0;
	/*box-shadow: 1px 1px 10px lightgrey;*/
	box-shadow: 0 0 3em rgba(0,0,0,0.15);
	transition: 0.3s;
	z-index: 1;
	background: #f5f5f5;
}

#content.active
{
	top: 6em;
	left: 12em;
	background: whitesmoke;
}

/*Content- person-info*/
#content #person-info
{
	width: 80%;
	margin: 0 auto;
	padding: 3em 0;
	text-align: center;
}

#person-info #person-image img
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 2em 0;
}

#person-info #person-name h1
{
	font-size: 5em;
	font-weight: 100;
}

#person-info #slide-down
{
	cursor: pointer;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 2em auto;
	border-radius: 50%;
	animation: bounce 1s linear infinite alternate-reverse;
}

#person-info #slide-down i
{
	line-height: 3.5em;
	font-weight: bold;
	padding-bottom: 5em;
	font-size: 2em;
}

#person-info #slide-down:hover
{
	box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}

#portfolio.active #person-info #slide-down:hover {
	box-shadow: 0px 5px 10px #000;
}

@keyframes bounce
{
	from {
		transform: translateY(-15%);
	}
	to {
		transform: translateY(15%);
	}
}

#person-objective {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

#person-objective p
{
	font-size: 1.5em;
	line-height: 2em;
	margin-bottom: 5em;
}

/*Content- person-info-container*/

.person-info-container
{
	width: 80%;
	height: auto;
	margin: 0 auto;
	background-color: #fafafa;
	position: relative;
	box-shadow: 1px 1px 72px rgba(0,0,0,0.06);
	padding: 2em 1em;
	border-bottom: 1px solid crimson;
	margin-bottom: 5em;
}

#portfolio.active .person-info-container
{
	background-color: #111111;
	color: #dddddd;
	box-shadow: 1px 1px 40px black;
}

.person-info-container:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.person-info-container .person-info-title
{
	width: 25%;
	float: left;
	color: crimson;
	text-align: center;
}


.person-info-container .person-info-title h1 {
    font-weight: 400;
    margin: 0;
    font-size: 1.75em;
    text-transform: uppercase;
}

.person-info-container .person-info-list
{
	float: left;
	width: 75%;
	/* padding: 1em; */
	/* margin-top: 1em; */
}

.person-info-container .person-info-list p {
	font-size: 1.1em;
}

.person-info-container .person-info-list p {
	font-size: 1.1em;
    line-height: 2em;
}

.person-info-container .person-info-details
{
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 2px;
	padding-top: 0.5em;
}

#portfolio.active .person-info-details
{
	box-shadow: 0px 2px 5px #000;
}

.person-info-container .person-info-details .title {
	font-size: 1.2em;
}

.person-info-container .person-info-details .sub-details {
    color: #666;
    font-size: 12px;
    padding: 1em 2em;
}

.sub-details a {
    background: crimson;
    border-radius: 2px;
    padding: .25em 1em;
    margin: 0.5em 1em 0 0;
	opacity: .9;
}

.sub-details a:hover {
	opacity: 1
}

.person-info-container .person-info-details .sub-details b {
	padding-right: 1em;
}

.person-info-container .person-info-details .highlight
{
	color: crimson;
}

.person-info-container .person-info-details .sub-title
{
	font-style: italic;
}

.person-info-container .person-info-details .responsibilities {
	font-size: 1em;
	border-bottom: solid 1px #eee;
}

.person-info-container .person-info-details ul 
{
	padding: 1em 2em 1em 3em;
}

#person-skills div
{
	display: inline-block;
	margin: 0 3em 2em 0;
	padding: 10px;
}

@media only screen and (max-width: 600px)
{
	.person-info-container .person-info-title
	{
		width: 100%;
	}
}

@media only screen and (max-width: 600px)
{
	.person-info-container .person-info-list
	{
		width: 100%;
	}
}

/*Footer*/
#footer
{
	width: 100%;
	position: relative;
	background-color: black;
	text-align: center;
	padding: 2em;
	color: grey;
	border-top: 4px dashed #f5f5f5;
}
#footer a
{
	text-decoration: none;
	font-size: 2em;
	color: white;
	vertical-align: middle;
	margin: 0 0.5em;
}
#footer a:hover
{
	border-bottom: 1px dashed #f5f5f5;
}