body,html
{
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	font-family: 'Raleway', sans-serif;
	color: black;
}
#portfolio
{
	width: 100%;
	height: 1000px;
}

#portfolio.active
{
	background-color: black;
	color: white;
}

#portfolio.active #toggle-day
{
	background-color: black;
	box-shadow: none;
}

#portfolio.active #toggle-night
{
	background-color: crimson;
	box-shadow: none;
}

#portfolio.active #toggle-content
{
	box-shadow: none;
}
/*Header*/
#header span
{
	padding: 10px;
	box-shadow: 1px 1px 40px #ccc;
	border-radius: 5px;
	position: fixed;
}

#header #toggle-content
{
	left: 2em;
	top: 2em;
	z-index: 111;
	transition: 0.5s;
}
#header #toggle-content:hover
{
	cursor: pointer;
	background-color: crimson;
	color: white;
}

#header #toggle-day
{
	right: 4.2em;
	top: 2em;
	background-color: crimson;
	color: white;
	border-radius: 5px 0 0 5px; 
	z-index: 111;
}

#header #toggle-night
{
	right: 2em;
	top: 2em;
	border-radius: 0 5px 5px 0;
	z-index: 111;
}

#header #toggle-night, #toggle-day
{
	cursor: pointer;
}

/*Content*/
#content
{
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 1px 1px 40px lightgrey;
	transition: 0.5s;
}

#content.active
{
	top: 8em;
	left: 12em;
}

/*Content- person-info*/
#content #person-info
{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#person-info #person-image img
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding-top: 5em;
}

#person-info #person-name h1
{
	font-size: 5em;
	font-weight: 100;
}

#person-info #slide-down i
{
	font-weight: bold;
	padding-bottom: 5em;
	font-size: 2em;
}
#person-info #person-objective p
{
	font-size: 1.5em;
}

/*Content- person-info-container*/

.person-info-container
{
	width: 80%;
	height: 500px;
	margin: 0 auto;
	background-color: white;
	position: relative;
	box-shadow: 1px 1px 10px lightgrey;
	padding: 1em;
	border-bottom: 1px solid crimson;
	margin-bottom: 5em;
}

.person-info-container .person-info-title
{
	width: 20%;
	height: 100%;
	float: left;
}

.person-info-container .person-info-list
{
	float: left;
	width: 80%;
	margin-top: 1em;
}

.person-info-container .person-info-details
{
	box-shadow: 1px 1px 10px lightgrey;
	padding: 10px;
	margin-top: 1em;
}